@media (max-width: 1060px) {
	html {
	  font-size: 16px;
	}

	.header__logo {
	font-size: 2rem;
	padding: 0 1.5rem;
	}
	
	.navigation__link {
	padding: 0 1rem;
	font-size: 1.1rem;		
	}
}

@media (max-width: 720px) {	
	html {
		font-size: 14px;
	}

	.slides h1 {
		font-size: 2rem;
		font-weight: bold;
		padding: 1rem 0;
	}

	.slides button {
		width: 14rem;
		height: 2.5rem;
		font-size: 1.5rem;
	}
	
	.navigation__menu li {
		display: none;
	}

	.navigation__menu span {
		display: none;
	}

	.header__navigation label {
		display: inline-block;
		padding: 0 2rem;
	}

	label:hover {
		background: rgba(221, 221, 221, 0);
	}

	.navigation__menu {
		display: flex;
		position: absolute;
		z-index: 9;
		flex-direction: column;
		right: 0;
		padding-right: 2rem;
		min-width: 170px;
	}

	#menu_check:checked + .navigation__menu li {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	.navigation__link {
		padding: 0 0;
	}
}

@media (max-width: 600px) {	
	.contact__form{
		width: 25rem;
		height: 25rem;
		padding: 5rem 0 0;
	}

	.info__link {
		padding: 0 1rem;
	}
}

@media (max-width: 400px) {	
	.slides h1 {
		font-size: 1.8rem;
	}

	.info__h2 {
		font-size: 1.6rem;
	}

	.about__name {
		margin-left: 0;
	}
	
	.contact__form{
		width: 20rem;
		height: 20rem;
		padding: 3rem 0 0;
	}

	.contact__form input, textarea {
		margin: .1rem auto;
	}
}

@media (max-width: 320px) {
	.contact__form{
		width: 17rem;
		height: 17rem;
		padding: 1.7rem 0 0;
	}

	.contact__form input, textarea {
		margin: .1rem auto;

	}

	.contact__form button img {
        display: none;
	}

	.contact__form button span {
		display: inline;
	}

	.contact__form button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 6rem;
		background: #00d08ba9;
		font-family: 'HelveticaLTStd-Light';
		color: rgb(97, 96, 96);
		border-radius: 5px;
		border: .1rem solid rgb(216, 216, 216);
		margin: 0 auto;
	}
}