@media (max-width: 1060px) {
	html {
	  font-size: 16px;
	}

	.header__logo {
	font-size: 2rem;
	padding: 0 1.5rem;
	}
	
	.navigation__link {
	padding: 0 1rem;
	font-size: 1.1rem;		
	}
}

@media (max-width: 550px) {	
	.navigation__link {
		padding: 0 .1rem;
		font-size: 1rem;		
	}

	.contact__form{
		width: 25rem;
		height: 25rem;
		padding: 5rem 0 0;
	}
}

@media (max-width: 400px) {	
	.contact__form{
		width: 20rem;
		height: 20rem;
		padding: 3rem 0 0;
	}

	.contact__form input, textarea {
		margin: .1rem auto;
}